<div class= 'container'>
    <h1 class="text-center my-5">Shopping List</h1>
    <div class="row py-3">
      <div class="col-2"></div>
      <div class="col-4">
        Amount of item to buy: 
      </div>
      <div class="col-4">
        Total value of food needed: $ 
      </div>
      <div class="col-2"></div>
    </div>
    <table class="table table-striped my-3 container">
    <thead>
        <tr> 
        <th scope="col">Food</th>
        <th scope="col">Quatity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>$Price</td>
        </tr>
    </tbody>
    </table>

</div>