<h1 class="text-center my-5">Public Recipes</h1>
<div class="container bgc1 my-5">
    <div class="row">
      <div class="col py-3">
        <h2>Recipe name:</h2>
      </div>
      <div class="col  py-3">
        <p>By: </p>
      </div>
    </div>
    <div class="row">
      <div class="col  py-3">
        Total food items: 
      </div>
      <div class="col  py-3">
        Total price: 
      </div>
    </div>
</div>