<div >
<div class= 'container'>
<div class= "my-5">
  <%= link_to "Add New Recipe", new_recipe_path, class: "addFood" %>
</div>
  <% @recipes.each do |recipe| %>
    <%= render partial: 'recipes/recipe_card', locals: { recipe: recipe, user_id: recipe.id } %>
  <% end %>
  <% if @recipes.empty? %>
    <h1>There are no public recipes to show</h1>
  <% end %>

</div>