* {
  margin: 0;
  padding: 0;
}

.addFood {
  margin-left: 70%;
}

.bgc1,
.foodTable,
.gTable {
  border: 5px solid #000;
}

.userName {
  color: #fff !important;
}

.userBG,
.ebdShow {
  background-color: rgb(51, 94, 124);
  color: #fff;
}

.bioText {
  color: #fff;
}

#singup {
  margin-top: 5%;
}

.SignBlog {
  margin-left: 3%;
}

.submit input:hover {
  color: #fff;
  background: #000;
}
